.vertical-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.25rem 1.25rem 1.25rem 0;
    max-height: 100vh;
    position:sticky;
}
.vertical-header .logo {
    width: 2rem;
    height: 2rem;
}


.main-navigation {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-navigation a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
}

.main-navigation a.active {
    color: var(--twitter-blue);
}

.main-navigation a svg {
    width: 1.50rem;
    height: 1.50rem;
}

.main-navigation a.active svg path {
    fill: var(--twitter-blue);
}

.new-twitter {
    background: var(--twitter-blue);
    border-radius: 999px;
    padding: 1rem;
    color: #fff;
    font-weight: 900;
    width: 90%;
    border: none;
}