
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.50rem 1.25rem;
    border-bottom: var(--default-border);

}

.title h1 {
    font-size: 1.25rem;
    color: #E1E1E6;
}

.title svg {
    width: 1.50rem;
    height: 1.50rem;
    color: var(--twitter-blue);
}